<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    div{
      color: white;
    }
  </style>
</head>
<body style="background-color: #343060;">
  <h1 class="text-center mt-5 mb-5" style="font-size:100px; color: white;">Add Job Information</h1>
  <div style="margin:0px 15% 0px 15% ;">
    <form method="post" action="/add">
      <div class="mb-3">
        <label for="JShopname" class="form-label">Shop Name: </label>
        <input type="text" class="form-control" id="JShopname" name="JShopname" required>
      </div>
      <div class="mb-3">
        <label for="JName" class="form-label">Job Name: </label>
        <input type="text" class="form-control" id="JName" name="JName" required>
      </div>
      <div class="mb-3">
        <label for="Salary" class="form-label">Salary: </label>
        <input type="text" class="form-control" id="Salary" name="Salary" required>
      </div>
      <div class="mb-3">
        <label for="Jobtype" class="form-label">Job Type: </label>
        <select class="form-select" id="Jobtype" name="Jobtype" required>
          <option value="">Select</option>
          <option value="พาร์ทไทม์">พาร์ทไทม์</option>
          <option value="ฟูลไทม์">ฟูลไทม์</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="JshopAddr" class="form-label">Shop Address: </label>
        <input type="text" class="form-control" id="JshopAddr" name="JshopAddr" required>
      </div>
      <div class="mb-3">
        <label for="Jtime" class="form-label">Job Time: </label>
        <input type="text" class="form-control" id="Jtime" name="Jtime" required>
      </div>
      <div class="mb-3">
        <label for="Qulification" class="form-label">Qualification: </label>
        <input type="text" class="form-control" id="Qulification" name="Qulification">
      </div>
      <div class="mb-3">
        <label for="JDetail" class="form-label">Job Details: </label>
        <textarea class="form-control" id="JDetail" name="JDetail" required></textarea>
      </div>
      <div class="mb-3">
        <label for="Image" class="form-label">Shop Image : </label>
        <input type="file" class="form-control" id="Image" name="Image">
      </div>
      <button type="submit" class="btn btn-primary">Add Job</button>
    </form>
  </div>
</body>
</html>